
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2d2f31;
	background: #D9E4FF;
}

h1
{
    font-size:50px;
    text-align: center;
    font-family: billabong;
}

h2
{
    font-size:30px;
    color: #F8B8D0;
    font-family: cursive;
}

h3
{
    font-size:20px;
    color: #90D8B2;
    font-family: fantasy;
}

p
{
    line-height: 3.5;
}

img 
{
    border: 1px solid rgb(206, 141, 197);
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px 30px;
}

ul
{
    display: inline-block;
    margin-left: 50px;
}

li
{
    display: inline-block;
    margin-left: 50px;
}

nav
{
    border: solid 1px #CC00AA;
}